print_formula_recognition_high/formula/lib/libtorch_cuda.so
print_formula_recognition_high/formula/lib/libtorch_cpu.so
print_formula_recognition_high/formula/lib/libtorch_addons.so
print_formula_recognition_high/formula/lib/libcurand.so.10.0
print_formula_recognition_high/formula/lib/libcusparse.so.10.0
print_formula_recognition_high/formula/lib/libcufft.so.10.0
print_formula_recognition_high/formula/lib/libnccl.so.2
print_formula_recognition_high/formula/lib/libcublas.so.10.0
print_formula_recognition_high/formula/lib/libral_base_context.so
print_formula_recognition_high/3rdParty/ubuntu-cuda10/libnvinfer.so.6
print_formula_recognition_high/3rdParty/ubuntu-cuda10/libcublas.so.10.0
print_formula_recognition_high/bin/formula/lib/libtorch_cuda.so
print_formula_recognition_high/bin/formula/lib/libtorch_cpu.so
print_formula_recognition_high/bin/formula/lib/libtorch_addons.so
print_formula_recognition_high/bin/formula/lib/libcurand.so.10.0
print_formula_recognition_high/bin/formula/lib/libcusparse.so.10.0
print_formula_recognition_high/bin/formula/lib/libcufft.so.10.0
print_formula_recognition_high/bin/formula/lib/libnccl.so.2
print_formula_recognition_high/bin/formula/lib/libcublas.so.10.0
print_formula_recognition_high/bin/formula/lib/libral_base_context.so
question_classification_detect/separatequestion_det_jyy/epoch_12.pth
